<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div  id="container">
      <div id="left">
        <div id="menu">
          <a href="">Home</a> 
          <a href="">Blog</a>
        </div>
        
        <div id="dropdownContainer">
          <div class="dropdown">
            <span >Document Converters</span>
              <div class="dropdownItems" id="document">

              </div>
          </div>

          <div class="dropdown">
            <span >Image Converters</span>
              <div class="dropdownItems" id="image">

              </div>
          </div>
          <div class="dropdown">
            <span >Music Converters</span>
              <div class="dropdownItems" id="music">

              </div>
          </div>
          <div class="dropdown">
            <span >Video Converters</span>
              <div class="dropdownItems" id="Video">

              </div>
          </div>
        </div>
      
        <div id="output">

          <div id="inputBox">
            <input type="file" id="FileInput">
            <img src="../static/images/uploadIMG.png" id="uploadBtn">
            <span id="FileName">No File Chosen</span>
          </div>
        
        </div>
      </div>

      <div id="right">
        <button id="ConvertFrom"></button>
          <div class="dropdown">
            <div></div>
            <button id="ConvertTo">...</button>
              <div class="dropdownItems">
                <button onclick="SetConversionType(this)"></button>
                <button onclick="SetConversionType(this)"></button>
                <button onclick="SetConversionType(this)"></button>
                <button onclick="SetConversionType(this)"></button>
                <button onclick="SetConversionType(this)"></button>
                <button onclick="SetConversionType(this)"></button>
              </div>
          </div>
        <button id="ConvertBtn">Convert</button>
        <div id="downloadFile"><a href="#">download here!</a></div>
      </div>
      
    </div>


      

    <footer>
      <p>© 2025 FileFlexer | All Rights Reserved</p>
    </footer>
    <script type="text/javascript" src="../static/scripts/DropdownGenerates.js"></script>
    <script type="text/javascript" src="../static/scripts/uploadScript.js"></script>
    <script type="text/javascript" src="../static/scripts/submitFile.js"></script>
    
  </body>
</html>
